@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header{
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	transition: 0.5s ease;
}

header .brand{
	color: #fff;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

header .navigation{
	position: relative;

}

header .navigation .navigation-items a{
position: relative;
color: #fff;
font-size: 1em;
font-weight: 500;
text-decoration: none;
margin-left: 30px;
transition: 0.3s ease;
	color:    #fff;

}

header .navigation .navigation-items a:before{
	content: '';
	position: absolute;
	background:   #e05c00;
	width: 0;
	height: 3px;
	bottom: 0;
	left: 0;
	transition: 0.3s ease;
}


header .navigation .navigation-items a:hover:before{
	width: 100%;
}

section{
	padding: 100px 20px;

}


/*--------- страница за влакове-----*/

:root{

	--bg-color: #ffffff;
	--text-color: #22100d;
	--second-color: #685f78;
	--main-color: #f66962;
	--big-font:3.8rem;
	--h2-font: 2.6rem;
	--p-font:1.1rem;

}


.courses{
	background: url(lake.jpg);
	background-size: cover;
	background-position: center;
}

.courses-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	gap: 2rem;
	align-items: center;
	margin-top: 4rem;
	cursor: pointer;
	border-radius: 15px;
}

.row{
	background: var(--bg-color);
	padding: 0px 0px 10px 0px;
	border-radius: 20px;
	box-shadow: 0px 5px 40px rgb(19, 8, 73 / 13%);
	transition: all .40 ease;
}

.row:hover{
	transform: translateY(-15px);
}

.row img{
	width: 100%;
	height: 320px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}

.courses-text{
	padding: 35px 20px;
}

.courses-text h5{
	color: var(--main-color);
	font-size: 18px;
	font-weight: 700;
}

.courses-text h3{
	font-size: 20px;
	font-weight: 700;
	line-height: 34px;
	margin: 15px 0 15px;
	transition: all .40 ease;
}

.courses-text h3:hover{
	color: var(--main-color);
}


.cta-content{
display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, auto));
	gap: 2rem;
	align-items: center;
	text-align: center;
	margin-top: 5rem;
}


/*-----diff screen types----*/

@media(max-width: 1040px){

header{
	padding: 15px 20px;
}

section{
	padding: 100px 20x;
}

header .navigation{
display: none;
}

header .navigation.active{
position: fixed;
width: 100%;
height: 100vh;
top: 0;
left: 0;
display: flex;
justify-content: center	;
align-items: center;
background: rgba(1, 1, 1, 0.5);
}

header .navigation .navigation-items a{
color: #222;
font-size: 1.2em;
margin: 20px;


}



header .navigation .navigation-items a:before{
	background: #222;
	height: 5px;
}


header .navigation.active .navigation-items{
background: #fff;
width: 600px;
max-width: 600px;
margin: 20px;
padding: 40px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 5px;
box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}


.menu-btn{
background:url(menu.png)no-repeat ;
background-size: 30px;
background-position: center;
width: 40px;
height: 40px;
cursor: pointer;
transition: 0.3s ease;
}


.menu-btn.active{
	z-index: 999;
	background: url(close.png)no-repeat; 
	background-size: 25px;
	background-position: center;
	transition: 0.3s ease;
}

}